Repository RomiconEZ/KONSPECTO-LLM: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-install, frontend-lint, frontend-test, backend-install, backend-test, docker-compose-check

Path conditions:
  frontend-install: any of: ^frontend/package\.json$
  frontend-lint: any of: \.(js|jsx)$
  frontend-test: any of: \.(js|jsx)$
  backend-install: any of: ^backend/pyproject\.toml$
  backend-test: any of: \.py$
  docker-compose-check: any of: docker-compose\.yml$

Update license
  LICENSE
Due: none

Update md specification files
  md-files/api-documentation.md
  md-files/development-rules.md
  md-files/plan.md
  md-files/project-architecture.md
  md-files/sprints.md
Due: none

Update useful_links.md
  md-files/useful_links.md
Due: none

Update embedding model. Moved the models parameters to env.
  backend/app/config/.env.example
  backend/app/core/config.py
  backend/app/main.py
  backend/app/services/transcription/whisper_model.py
  backend/app/services/vector_db.py
  backend/poetry.lock
  backend/pyproject.toml
  docker/backend/Dockerfile
Due: backend-install, backend-test

Run pre-commit
  README.md
  backend/app/config/.env.example
  backend/app/core/config.py
  backend/app/main.py
  backend/app/services/transcription/whisper_model.py
  backend/app/services/vector_db.py
  docker/backend/Dockerfile
  md-files/api-documentation.md
  md-files/development-rules.md
  md-files/project-architecture.md
Due: backend-test

Update README.md
  README.md
Due: none

add openai-compatible client support
  README.md
  backend/agent/react_agent.py
  backend/app/api/v1/endpoints/agent.py
  backend/app/core/config.py
  backend/app/services/llm/llm_studio_client.py
Due: backend-test

add vllm support
  README.md
  backend/app/api/v1/endpoints/agent.py
  docker-compose.yml
Due: backend-test, docker-compose-check

do not expose vllm port
  docker-compose.yml
Due: docker-compose-check

Add project presentation
  README.md
  presentation/KONSPECTO_LLM_base.pdf
Due: none

Delete unused files.
  .gitignore
  md-files/README-dev.md
Due: none

Run pre-commit
  README.md
  md-files/project-architecture.md
Due: none

Add link to presentation in README
  README.md
  presentation/KONSPECTO_LLM_base.pdf
Due: none

Add authors to README.md
  README.md
Due: none

Add Validation part to README.md
  README.md
Due: none

Add part with lm studio in README
  README.md
Due: none

Bump project version to 1.0.0 and update dependencies in pyproject.toml
  README.md
  backend/app/core/config.py
  backend/pyproject.toml
  docker-compose.yml
  md-files/api-documentation.md
  md-files/concept.md
  md-files/development-rules.md
  md-files/plan.md
  md-files/project-architecture.md
  md-files/sprint-1.md
  md-files/sprint-2.md
  md-files/sprints.md
  md-files/useful_links.md
  presentation/KONSPECTO.pdf
  presentation/KONSPECTO_LLM_base.pdf
  pyproject.toml
Due: backend-install, backend-test, docker-compose-check

Refactor code for improved clarity and performance; update example fields in models, enhance logging, and streamline video processing logic
  backend/agent/__init__.py
  backend/agent/react_agent.py
  backend/agent/tools/search.py
  backend/agent/tools/video_processor.py
  backend/app/api/v1/endpoints/agent.py
  backend/app/api/v1/endpoints/search.py
  backend/app/api/v1/endpoints/transcribe.py
  backend/app/api/v1/endpoints/video.py
  backend/app/core/config.py
  backend/app/main.py
  backend/app/models/search.py
  backend/app/models/transcription.py
  backend/app/services/llm/llm_studio_client.py
  backend/app/services/redis_service.py
  backend/app/services/vector_db.py
  backend/tests/test_agent_endpoint.py
  backend/tests/test_video_processor.py
  frontend/jest.setup.js
  frontend/src/App.jsx
  frontend/src/__tests__/App.test.jsx
  frontend/src/__tests__/Chat.test.jsx
  frontend/src/__tests__/Sidebar.test.jsx
  frontend/vite.config.js
  poetry.lock
Due: frontend-lint, frontend-test, backend-test

Bump project version to 1.1.0 in config.py and pyproject.toml
  backend/app/core/config.py
  backend/pyproject.toml
  pyproject.toml
Due: backend-install, backend-test

Bump project version to 1.1.0 in package.json
  frontend/package.json
Due: frontend-install

Refactor code for improved readability by removing unnecessary line breaks and ensuring consistent formatting across multiple files
  README.md
  backend/agent/react_agent.py
  backend/agent/tools/search.py
  backend/agent/tools/video_processor.py
  backend/app/api/v1/endpoints/agent.py
  backend/app/api/v1/endpoints/search.py
  backend/app/api/v1/endpoints/transcribe.py
  backend/app/core/config.py
  backend/app/main.py
  backend/app/models/transcription.py
  backend/app/services/redis_service.py
  backend/app/services/vector_db.py
  backend/pyproject.toml
  backend/tests/test_agent_endpoint.py
  backend/tests/test_video_processor.py
  docker-compose.yml
  frontend/package.json
  pyproject.toml
Due: frontend-install, backend-install, backend-test, docker-compose-check

Update mypy version to 1.18.2 and bump Poetry version to 2.3.2 in Dockerfile
  backend/poetry.lock
  backend/pyproject.toml
  docker/backend/Dockerfile
  poetry.lock
  pyproject.toml
Due: backend-install

Refactor agent endpoint tests to use AsyncMock for improved mocking and clarity
  backend/tests/test_agent_endpoint.py
Due: backend-test

Refactor code for improved readability by adding missing newlines and ensuring consistent formatting across multiple files
  backend/agent/tools/search.py
  backend/agent/tools/video_processor.py
  backend/app/api/v1/endpoints/agent.py
  backend/app/api/v1/endpoints/search.py
  backend/app/api/v1/endpoints/transcribe.py
  backend/app/core/config.py
  backend/app/main.py
  backend/app/models/transcription.py
  backend/app/services/redis_service.py
  backend/app/services/vector_db.py
  backend/pyproject.toml
  backend/tests/test_agent_endpoint.py
  backend/tests/test_video_processor.py
  docker-compose.yml
  docker/backend/Dockerfile
  pyproject.toml
Due: backend-install, backend-test, docker-compose-check

Update Dockerfile to install dependencies without root
  docker/backend/Dockerfile
Due: none

Remove authors section and update presentation link in README.md for clarity
  README.md
Due: none
